{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="{% static 'img/portfolio/portfolio-details-1.jpg' %}" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="{% static 'img/portfolio/portfolio-details-2.jpg' %}" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="{% static 'img/portfolio/portfolio-details-3.jpg' %}" alt="">
                        </div>
                        {%if story.image%}
                        <div class="swiper-slide">
                            <img src="{{story.image.url}}" alt="img">
                        </div>
                        {%endif%}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>{{story.title}}</h3>
                    <ul>
                        <li><strong>Writer</strong> : {{story.writer}}</li>
                        <li><strong>Body</strong> : {{story.body}}</li>
                        <li><strong>생성시간</strong> : {{story.created_at}}</li>
                        <li><strong>수정시간</strong> : {{story.updated_at}}</li>
                    </ul>
                    <br>
        
                    <ul>
                        <a class="btn btn-dark" href="{% url 'stories:edit_story' story.id %}">수정하기</a>
                        <a class="btn btn-dark" href="{% url 'stories:delete' story.id %}">삭제하기</a>

                    </ul>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->

{%endblock%}