<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "signup_container">
        <form action="{%url 'user:login' %}" method="POST">
            {%csrf_token%}
            <div class="signup_title">로그인</div>
            <div class="signup_input_container">
                <div class="signup_input_title">아이디</div>
                <input type="text" class="signup" name="username" placeholder="아이디">
            </div>
            <div class="signup_input_container">
                <div class="signup_input_title">비밀번호</div>
                <input type="password" class="signup" name="password" placeholder="비밀번호">
            </div>
            <button id="confirmBtn" type="submit">완료</button>
        </form>
    </div>
</body>
</html>