{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if request.user.is_dorm == 'yes' %}
        {% if  not request.user.d_followings.all  %}
        <button><a href="{%url 'dormline:view_random' request.user.id %}">조회</a></button>
        {% endif %}
    {% endif %}
        
    <!--내 팔로워 있는지 보여주는 칸-->
    <h3>나를 팔로우하고 있는 사람은?</h3>

    {% if not followers.all %}
        <h3>아직 팔로워가 없습니다.</h3>
        {{requ}}
    {% else %}
        {% for f in followers.all %}
            <h3>{{f.nickname}}</h3>
        {% endfor %}
    {% endif %}

{%endblock%}