{% load static %}
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
      <a class="navbar-brand" href="#!">BBUBBU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
          </ul>
      </div>
  </div>
</nav> {% endcomment %}
 <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="{% url 'index' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'user:profile' request.user.id %}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Profile</span></a></li>
        <li><a href="{% url 'conversation:talk_page'%}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Talk</span></a></li>
        <li><a href="{% url 'adopt:adopt_main'%}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>입양하기</span></a></li>
        <li><a href="{% url 'dormline:dorm_main' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>긱라인</span></a></li>
        {% endif %}
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->